* {
  box-sizing: border-box;
}

html {
  background: linear-gradient(
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6)
    ),
    url(./images/background2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: black;
}

.results, .rest-list, .hotel-list {
  width: 90%;
  text-align: left;
  margin: 20px 5%;
  padding: 5px 10px;
  border-radius: 10px;
}

.rest-list, .hotel-list {
  background: rgba(255,255,255,0.6);
}

.day {
  width: 100%;
  margin: 20px auto;
  border-radius: 10px;
  padding: 5px;
  background: rgba(255,255,255,0.6);
}

h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 36px;
}

input[name='location'] {
  width: 20em;
}

.pad {
  margin-top: 20px;
}

ul {
  list-style-type: none;
}

iframe {
  width: 95%;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 142px;
  max-width: 30%;
}

button, input[type='submit'] {
  background: #F04902;
  color: black;
  font-size: 18px;
  border-radius: 10px;
  margin: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  transition-duration: 0.4s;
}

input[type='submit'] {
  padding: 5px 10px;
}

@media (hover: hover) {
  button:hover, input[type='submit']:hover {
    background-color: #FFE200;
    color: black;
  }
}


.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  -webkit-position: sticky; top: 0px;
  -moz-position: sticky; top: 0px;
  -o-position: sticky; top: 0px;
  position: sticky; top: 0px;
  background: rgba(100,100,100,0.9);
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

table {
  width: 90%;
  text-align: center;
  margin: 15px auto;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}

th {
  font-size: 20px;
  font-weight: normal;
}

th[colspan='3'] {
  font-size: 22px;
  font-weight: bold;
}

td.fcast {
  vertical-align: top;
}

td::first-letter {
  text-transform: capitalize;
}

label {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
}

.results-loc {
  background: rgba(255, 255, 255, 0.6);
  width: 90%;
  align-self: center;
  border-radius: 10px;
  margin: 20px auto;
}

.results-loc p {
  font-size: 18px;
}

.search-container h3 {
  cursor: pointer;
}

#js-error-message {
  margin: 20px;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: firebrick;
}

a:active {
  color: orangered;
}

@media all and (min-width: 800px) {
  html {
    background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
      ),
      url(./images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  iframe {
    width: 800px;
    max-width: 95%;
  }

  .results {
    background: rgba(255, 255, 255, 0.6);
  }

  .day {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    background: rgba(255, 255, 255, 0);
  }

  .result-item {
    width: 48%;
  }

  .result-item:nth-child(3n-2) {
    width: 100%;
  }

  .start-screen {
    width: max-content;
    margin: 10% auto;
  }

  h1 {
    font-size: 64px;
  }

  .lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    align-self: center;
  }

  .rest-list, .hotel-list {
    width: 48%;
    margin: 0 1%;
  }
}