* {
    box-sizing: border-box;
}

html {
  background: linear-gradient(
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6)
    ),
    url(./images/background2.jpg) no-repeat center center fixed;
}

body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.results, .rest-list, .hotel-list {
    width: 90%;
    text-align: left;
    margin: auto 5%;
    background: rgba(255,255,255,0.6);
}

/*.results {
    border: 1px solid green;
}*/

h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 36px;
}

input[name='location'] {
  width: 20em;
}

.pad {
  margin-top: 20px;
}

ul {
  list-style-type: none;
}

/*ul, .rest-list, .hotel-list, h3.item {
    border: 1px solid red;
}*/

iframe {
  width: 100%;
}

button {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

@media all and (min-width: 800px) {
  html {
  background: linear-gradient(
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6)
    ),
    url(./images/background.jpg) no-repeat center center fixed;
}

  iframe {
    width: 800px;
  }

  .day {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
  }

  .result-item {
    width: 48%;
  }

  .result-item:nth-child(3n-2) {
    width: 100%;
  }

  .start-screen {
    width: max-content;
    margin: 10% auto;
  }

  h1 {
    font-size: 48px;
  }

  /*.results {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .result-item {
    width: 48%;
  }

  .result-item:nth-child(3n-2) {
    width: 100%;
  }*/

  .lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    align-self: center;
  }

  .rest-list, .hotel-list {
    width: 48%;
    margin: 0 1%;
    background: rgba(255,255,255,0.6);
  }
}